Options -Indexes

# RewriteEngine On

# RewriteRule ^$ public/ [L]

# RewriteCond %{REQUEST_FILENAME} !-f 
# RewriteCond %{REQUEST_FILENAME} !-d 
# RewriteRule ^(.*)$ public/$1 [L]

# # Prevent direct access to src folder
# RewriteRule ^src/ - [F]

RewriteEngine On

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]

DirectoryIndex home.php